# =========================
# ROOT LEVEL
# =========================
.env
.env.*

# =========================
# BACKEND
# =========================
server/node_modules/
server/.env

# =========================
# FRONTEND
# =========================
client/node_modules/
client/build/

# =========================
# LOG FILES
# =========================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE FILES
# =========================
.vscode/
.idea/

# =========================
# MISC
# =========================
uploads/
temp/
.cache/
coverage/